.inicial {
  text-align: center;
  justify-items: center;
}
.inicial p:first-of-type {
  margin-bottom: 20px;
}
.inicial p:nth-child(2) {
  margin-bottom: 12px;
}
.inicial h1:nth-child(1) {
  font-size: 6.5rem;
  position: relative;
  z-index: 99;
}
.inicial h1:nth-child(2) {
  font-size: 6rem;
  position: relative;
  z-index: 99;
}
.foto-inicial h1:last-child {
  font-size: 5rem;
  z-index: 2;
  margin-top: -120px;
  margin-bottom: 80px;
}
.inicial .foto-inicial {
  justify-items: center;
}
.inicial .foto-inicial img {
  margin-top: -120px;
}
.inicial .botao {
  margin-bottom: 130px;
}
@media (max-width: 1000px) {
  .inicial h1:nth-child(1) {
    font-size: 4rem;
  }
  .inicial h1:nth-child(2) {
    font-size: 3.5rem;
  }
  .foto-inicial h1:last-child {
    font-size: 4rem;
  }
  .inicial .foto-inicial img {
    max-width: 80%;
  }
}
@media (max-width: 350px) {
  .inicial p:nth-child(2) {
    margin-bottom: 60px;
  }
  .inicial h1:nth-child(1) {
    font-size: 3rem;
  }
  .inicial h1:nth-child(2) {
    font-size: 3rem;
  }
  .foto-inicial h1:last-child {
    font-size: 3rem;
  }
  .inicial .foto-inicial img {
    max-width: 80%;
  }
  .inicial .botao {
    margin-top: 40px;
  }
}
