.testemunho {
  display: flex;
  padding-top: 60px;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  position: relative;
}
.wrapper i {
  top: 120%;

  height: 44px;
  width: 44px;
  color: #343f4f;
  cursor: grab;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.fa-angle-left {
  left: 30%;
}
.fa-angle-right {
  left: 60%;
}
.wrapper i:active {
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover {
  background: #f2f2f2;
}
.wrapper i:first-child {
  display: none;
}
.wrapper i:last-child {
  right: 22px;
}
.wrapper .carousel {
  font-size: 0px;
  cursor: grab;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
}
.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img {
  pointer-events: none;
}

.carousel img {
  /* height: 500px; */
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}
.carousel img:first-child {
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
  .testemunho {
    padding-top: 0px;
  }
}

@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }
}
